@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    margin:0;
    padding:0;
}
.Profile{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
}
.card-left{
    margin: 0 auto;
    padding-top: 44px;
    width: 400px;
    text-align: center;
    background-color: #f4ece6;
    box-shadow: black 1px 10px 100px -40px;
}
.set-img{
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto 34px auto;
}
.img{
    width:100%;
}
.name{
    font-weight: 700;
    font-size: 27px;
    color: #db894a;
}
.underline{
    width: 50px;
    height: 3px;
    margin: 0 auto;
    background: rgb(120,2,225);
    margin-top: 25px;
}
.job{
    margin-top: 25px;
    letter-spacing: 0.25rem;
    font-weight: 300;
}
.line-box{
    margin-top: 100px;
    margin-block-end: 0 auto;
    background-color:rgb(170, 144, 106);
}
.line-box{
    margin-top: 53px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
}